.search{
	margin-bottom: 50px;
	&_form{
		margin-bottom: 5px;
	}
	&_field{
		/* 
		 * Поля формы
		 */
		float: left;
		overflow: hidden;
		box-sizing: border-box;
		width: 100%;
		height: 39px;
		padding: 8px 34px 8px 41px;
		border: 1px solid #efefef;
		border-radius: 2px;
		background: url('../images/search.png') no-repeat #fbfbfb;
		background-position: 13px 11px;
		box-shadow: inset 0px 2px 4px -2px rgba(0,0,0,0.49), 0px 2px 1px -1px rgba(0,0,0,0.11);
		color: #5c5e5f;
		font-size: 16px;
		&:focus{
			background-color: #ffffff;
			border-color: #f7f7f7;
			color: #373f45;
			/* 
			 * Показываем кнопку очистки поля
			 */
			& + .search_clear{
				display: inline-block;
			}
		}
		@include old-ie{
			/* 
			 * Темнее бордер для old-IE из-за отсутствия box-shadow
			 */
			border: 1px solid #cccccc;
			*height: 21px;
		}
	}
	&_submit{
		/* 
		 * Кнопки отправки формы
		 */
		display: inline-block;
		float: right;
		box-sizing: border-box;
		height: 38px;
		margin: 1px 0px 0px 6px;
		padding: 0px 15px;
		border: none;
		border-radius: 2px;
		background-color: #e6e6e6;
		background: linear-gradient(to bottom, rgba(228,228,228,0.25) 0%,rgba(184,188,190,0.25) 100%);
		box-shadow: inset 0px 0px 0px 1px rgba(255,255,255,0.5), 0px 1px 2px 0px rgba(0,0,0,0.4), 0px 0px 7px 2px rgba(0,0,0,0.07);
		font-family: ArialNarrowBold, Arial, Helvetica, sans-serif;
		text-transform: uppercase;
		color: #373f45;
		font-size: 12px;
		&:hover{
			background-color: #f7f7f7;
			color: #000000;
			cursor: pointer;
		}
		@include old-ie{
			/* 
			 * Темнее бордер для IE8 из-за отсутствия box-shadow
			 */
			border: 1px solid #cccccc;
			*padding: 0px 8px;
		}
	}
	&_clear{
		/* 
		 * Реализуем кнопку очистки поля
		 */
		display: none;
		width: 18px;
		height: 18px;
		background: url('../images/clear.png') no-repeat;
		margin-left: -27px;
    position: relative;
    top: 12px;
    cursor: pointer;
	}
	@include old-ie{
		/* 
		 * Ширина поля для IE7
		 */
		fieldset{
			*overflow: hidden;
		}
	}
}