body{
  font-family: Arial, Helvetica, sans-serif;
  color: #707275;
  font-size: 14px; 
  line-height: 1.25;
}
h1{
  font-size: 18px;
  line-height: 1;
  margin-bottom: 20px;
}
a, input{
  &:focus{
    outline: none;
  }
}
.inner{
  box-sizing: border-box;
  min-width: 320px;
  max-width: 968px;
  width: 100%;
  margin: 0 auto;
  padding: 20px 15px;
  background-color: #ececec;
  @media all and ( min-width: 801px ) {
    padding: 20px 93px;
  }
}