/* font-family: "ArialNarrowBold"; */
@font-face {
    font-family: "ArialNarrowBold";
    src: url("../fonts/ArialNarrowBold.eot");
    src: url("../fonts/ArialNarrowBold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/ArialNarrowBold.woff") format("woff"),
    url("../fonts/ArialNarrowBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}